version: "3.9"

networks:
  tb-net:
    driver: bridge

services:
  postgres:
    image: "docker.io/postgres:16"
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: thingsboard
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks: 
      - tb-net

  thingsboard-ce:
    image: "docker.io/thingsboard/tb-node:4.2.1"
    restart: always
    ports:
      - "8080:8080"
      - "7070:7070"
      - "1883:1883"
      - "8883:8883"
      - "5683-5688:5683-5688/udp"
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"
    environment:
      TB_SERVICE_ID: tb-ce-node
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/thingsboard
      #INSTALL_TB: "true"
      #LOAD_DEMO: "true"
    depends_on:
      - postgres
    networks: 
      - tb-net



volumes:
  postgres-data:
    name: tb-postgres-data
    driver: local

